.idea/
.vscode/
venv/
.env/
models/
.cache/
__pycache__/
.ipynb_checkpoints
.DS_Store
_logs/
datasets/
.ruff_cache/
mlopsency/serve/
mlopsency/cycle/
mlopsency/pipeline/
mlopsency/report/
mlopsency/runtime/
mlopsency/target/
mlopsency/utils/
mlopsency/README.md

*.out