.idea/
.vscode/
venv/
.env/
models/
.cache/
.github/
__pycache__/
.ipynb_checkpoints
.DS_Store
_logs/
datasets/
.ruff_cache/
mlopsency/deploy/
mlopsency/operate/
mlopsency/runtime/
mlopsency/target/
mlopsency/utils/
mlopsency/core.py
mlopsency/functional.py

*.out